@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>JdHCoffeeConsulting</h1>
    <p class="lead">
        Green coffee brokerage for East African origins assisting small
        to medium size exporters reach the international market.
    </p>
    <p><a href="https://jdhcoffeeconsulting.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="jumbotron">
        <h2>Contact Us:</h2>
        <p>
            JdHCoffeeConsulting <br/>
            Tel: +41 765 61 10 31 | +256 707 00 91 66 | +256 702 24 42 44 <br/>
            Email: brokerage@jdhcoffeeconsulting.com <br/>
            Switzerland
        </p>
        <p><a class="btn btn-default" href="https://jdhcoffeeconsulting.com/">Visit Our Website &raquo;</a></p>
    </div>
</div>